@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #eafaf1;
    margin: 0;
    padding: 0
}

* {
    font-family: "Work Sans";
}
h1 {
    font-size: 3.75rem;
    line-height: 1;
    margin-bottom: 1rem;
    font-weight: 700;
}
/* navbar */
.navbar-toggler {
    border: none;
}
i {
    color:
        #1fe374;
    font-size: 48px;
}
.navbar a {
    color: #00ad6a;
    font-weight: 900;
    text-decoration: none;
}
.but1 {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    border: 2px solid #00ad6a;
}
.query1:hover {
    animation: shadow-pop-bo 0.01s forwards;
    color: #00ad6a;
}
.query2 {
    display: none;
}
/* header */

.cont1 {
    margin-top: 4rem;
    text-align: center;
    padding-bottom: 5vw;
}
header p {
    color: #080c16;
    font-size: 1.125rem;
}
/* section */

.sec1 {
    padding: 0;
}
.sec2 {
    height: 100%;
}
.sec3 {
    height: 80%;
    padding: 3vw;
}
.sec3 h2 {
    color: #00ad6a;
    margin-bottom: 1rem;
    line-height: 1.15;
    font-weight: 700;
    font-size: 1.25rem
}
.sec3 li {
    font-size: 1rem;
}
.sec3 a {
    color: #080c16;
    font-weight: 400;
}
.sec4 {
    border: 2px solid #00ad6a;
    height: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #fcfcfc;
    padding: 0;
}
.sec4a {
    padding-top: .25rem;
    padding-bottom: .25rem;
    letter-spacing: 1px;
    font-weight: 700;
    background-color: #00ad6a;
    width: 100%;
    font-size: 0.75rem;
}
.sec4b {
    margin-top: 40px;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 3rem;
    margin-bottom: 1rem;
    letter-spacing: -1.5px;
    color: #00ad6a;
    line-height: 1;
    font-weight: 700;
}
.sec4c {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    letter-spacing: -.5px;
    color: #83858a;
    padding: 0px 32px;
    line-height: 1;
    font-weight: 400;
}
.sec4da {
    transition: .05s ease-in-out;
    font-size: 1.25rem;
    padding: 8px 32px 12px;
    font-weight: 700;
    display: inline-block;
    background-color: #1fe374;
    border: none;
}
.sec4da a {
    color: #464951;
    text-decoration: none;

}
.sec4da:hover {
    transform: scale(1.1);

}
.sec4da a:hover {
    color: black;


}
.sec4e {
    margin-top: 32px;
    Letter-spacing: 1px;
    font-size: .75rem;
    line-height: 1.15;
    font-weight: 700;
    color: #464951;
}
.sec4f {
    padding: 0px 32px;
}
.sec4f ul {
    list-style-image: url('https://pulseapp.com/img/icons/icon-check-bullet.svg');
}
.sec5 {
    border: 1px solid #d6dae5;
    height: 80%;
    background-color: #fcfcfc;
    padding: 0
}
.sec5a {
    font-size: .875rem;
    text-align: center;
    padding: 1rem;
    line-height: 1.3;
    background-color: #f2f3f3;
    border-bottom: 1px solid #d6dae5;
}
.sec5b {
    letter-spacing: -1.5px;
    font-size: 2.25rem;
    color: #00ad6a;
    line-height: 1;
    font-weight: 400;
    text-align: center;
    letter-spacing: -1.5px;
    padding: 24px
}
.sec4 li {
    margin-top: 16px;
}
.sec5 li {
    margin-top: 16px;
}
.sec4g {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.sec4ga {
    font-size: 1.5rem;
    color: #080c16;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.sec4gb {
    letter-spacing: 1px;
    font-size: .75rem;
    color: #00ad6a;
    font-weight: 700;
}
.sec4h {
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.section2 {
    border-top: 1px solid #d6dae5;
    padding-bottom: 5rem;
    padding-top: 6rem;
    background-color: #fcfcfc;
    margin: 0 auto;
}
.section2b {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.section2a h2 {
    font-size: 3rem;
    line-height: 1.15;
    letter-spacing: -2px;
    font-weight: 700;
    color: #080c16;
}
.section2a {
    margin-bottom: 1rem;
}
.section2b h4 {
    font-size: 1.25rem;
    line-height: 1.15;
    font-weight: 700;
    color: #080c16;
}
.section2b p {
    margin-bottom: 0;
    font-size: 1.125rem;

}
footer {
    background-color: #080c16;
    margin: 0 auto;
    padding: 0 1.5rem;
}
.foot {
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.foot1 {

    background-color: #080c16;
}
.foot1a img {
    width: 10rem;
}
#footlogo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4rem;
}
.but2 {
    background-image: linear-gradient(90deg, #00ab6a, #23ea76);
    padding: 1rem 2rem;
    border-color: #fff;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
    margin-bottom: 0;
    display: inline-block;

}
.but2 a {

    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    color: #062c27;
}
.but2:hover {
    animation: shadow-pop-bl 0.01s forwards;
}
.foot1 ul {
    padding-top: 0;
    padding-bottom: 0;
    padding: 1rem;
    list-style: none;
    margin: 0;
}
.li-1 {
    font-size: 1.125rem;
    margin-bottom: 1rem;
    color: #fff;
    font-weight: 700;
}
.a1 {
    text-decoration: none;
    color: #1fe374;
    font-weight: 400;
    font-size: 1.25rem;
}
.a1:hover {
    color: #ffffff;

}
.li-2 {
    margin-bottom: 1rem;
}
.footlast {
    color: #83858a;
    font-size: .75rem;
}
.footlast a {
    color: #83858a;
    font-weight: 400;
    text-decoration: underline;
    font-size: .75rem;
}
.footlast a:hover {
    color: #a4a5a9
}
#footlastcont {
    padding: 12px 24px;
}
@media (max-width: 991px) {
    .nav-link {
        margin: 0 !important;
    }
    #bgnavbar {
        background-color: #fcfcfc !important;
        margin: 0 !important;
        padding: 1rem 1rem;
    }
    h1 {
        font-size: 3rem;
        text-align: start;
    }
    p {
        text-align: start;
    }
    .sec4 {
        margin-bottom: 24px;
    }
    .sec4b {
        font-size: 2.5rem;
        text-align: start !important;
        padding-left: 16px;
    }
    .sec4c {
        font-size: 1.25rem;
        text-align: start !important;
        padding-left: 16px;
    }
    .sec4da {
        width: 90%;
    }
    .sec5b {
        padding-left: 16px;
        text-align: start;
    }
    .sec1 {
        padding: 0px 32px !important;
    }
    #footlogo {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    .foot {
        padding-top: 32px;
        padding-bottom: 0px;
    }
    .li-1 {
        font-size: 0.85rem;

    }
    .a1 {
        font-size: 0.85rem;
    }
    .li-2 {
        margin-bottom: .5rem;
    }
    #footlastcont {
        padding: 12px 24px 96px;
    }
    .but1 {
        background-image: linear-gradient(90deg, #00ab6a, #23ea76);
        padding-left: 1rem !important;
        padding-right: 1rem !important;
        max-width: 100px;
        border: none;
    }
    .query {
        color:
            #00ad6a !important;
        font-size: 2.25rem;
        animation: fade-in 1.75s forwards;
    }
    .query1 {
        color: #062c27 !important;
        font-size: 1.5rem;
        min-width: 125px;
        animation: fade-in 1.5s forwards;
    }
    .query2 {
        display: block
    }

}

/* ----------------------------------------------
 * Generated by Animista on 2024-7-5 20:45:48
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@keyframes shadow-pop-bl {
    0% {
        box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
        transform: translateX(0) translateY(0)
    }

    100% {
        box-shadow: -1px 1px #3e3e3e, -2px 2px #3e3e3e, -3px 3px #3e3e3e, -4px 4px #3e3e3e, -5px 5px #3e3e3e, -6px 6px #3e3e3e, -7px 7px #3e3e3e, -8px 8px #3e3e3e;
        transform: translateX(8px) translateY(-8px)
    }
}

@keyframes shadow-pop-bo {
    0% {
        box-shadow: 0 0 #00ad6a, 0 0 #00ad6a, 0 0 #00ad6a, 0 0 #00ad6a, 0 0 #00ad6a, 0 0 #00ad6a, 0 0 #00ad6a, 0 0 #00ad6a;
        transform: translateX(0) translateY(0)
    }

    100% {
        box-shadow: -1px 1px #00ad6a, -2px 2px #00ad6a, -3px 3px #00ad6a, -4px 4px #00ad6a, -5px 5px #00ad6a, -6px 6px #00ad6a, -7px 7px #00ad6a, -8px 8px #00ad6a;
        transform: translateX(8px) translateY(-8px)
    }
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes fade-in {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}